<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Order Planning App</title>
</head>
<body>
<h1>Order Planning App</h1>
<div>
    <h2>Customers</h2>
    <a th:href="@{/addCustomer}">Add a customer</a>
    <br><br>
    <a th:href="@{/allCustomers}">List all customers</a>
    <br><br>

    <h2>Orders</h2>
    <a th:href="@{/createOrder}">Create an order</a>
    <br><br>

    <h2>Products</h2>
    <a th:href="@{/allProducts}">List all products</a>
    <br><br>

    <h2>Warehouses</h2>
    <a th:href="@{/allWarehouses}">List all warehouses</a>
    <br><br>
</div>
</body>